---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'GamePlayed';
  src: url('{{ site.baseurl }}/assets/fonts/game-played.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/game-played.woff') format('woff'),
       url('{{ site.baseurl }}/assets/fonts/game-played.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header h1 {
  font-family: 'GamePlayed', sans-serif;
}

h3, h2, h1 {
  font-family: 'GamePlayed', sans-serif;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
}

.image-column {
  flex: 1;
  padding: 10px;
}

.image-column img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

header {
  background: #235d0f;
  background-color: #235d0f;
}

ol {
  padding-inline-start: 1em;
}

nav ul li.tag-h2 + .tag-h1 {
  margin-top: auto
}


.banner-bar {
  margin-left: 165px;
}


@media print, screen and (max-width: 1060px) {
  section {
    padding:10px 10px;
  }

  .banner-bar {
    margin-left: 100px;
  }
}

@media print, screen and (max-width: 720px) {
  .banner-bar {
    margin-left: 0px;
  }
}

@media print, screen and (max-width: 480px) {

  header{
    position: inherit;
  }

  #banner {
    display: inherit;
    position: relative;
    top: 0px
  }
  header ul {
    display:inherit;
  }

  .banner-bar {
    margin-left: 0px;
  }
}

.tags {
  margin-top: -10px;
  text-align: left;
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.tag.romwbw::before {
  content: "RomWBW";
}

.tag.rcbus::before {
  content: "RCBus";
}

.tag.rc2014::before {
  content: "RC2014";
}

.tag.msx.required::before {
  content: "MSX Required";
}

.tag.msx.optional::before {
  content: "MSX Optional";
}

.tag.msx.recommended::before {
  content: "MSX Recommended";
}

.tag.rcbus {
  background-color: green;
  color: white;
}

.tag.rc2014 {
  background-color: rgb(70, 70, 164);
  color: white;
}

.tag.romwbw {
  background-color: green;
  color: white;
}

.tag.msx {
  background-color: #fdd14b;
  color: black;
}

.product-listing {
  display: flex;
}
.product-listing > div:first-child {
  flex: 30%;
}
.product-listing > div:first-child img {
  max-width: 100%;
}
.product-listing > div:nth-child(2) {
  flex: 70%;
  padding-left: 10px;
}
.product-listing a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.product-listing img {
  transition: transform 0.3s ease;
}
.product-listing img:hover {
  transform: scale(1.05);
}
