---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'GamePlayed';
  src: url('{{ site.baseurl }}/assets/fonts/game-played.woff2') format('woff2'),
       url('{{ site.baseurl }}/assets/fonts/game-played.woff') format('woff'),
       url('{{ site.baseurl }}/assets/fonts/game-played.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header h1 {
  font-family: 'GamePlayed', sans-serif;
}

h3, h2, h1 {
  font-family: 'GamePlayed', sans-serif;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
}

.image-column {
  flex: 1;
  padding: 10px;
}

.image-column img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

header {
  background: #235d0f;
  background-color: #235d0f;
}

ol {
  padding-inline-start: 1em;
}

nav ul li.tag-h2 + .tag-h1 {
  margin-top: auto
}


.banner-bar {
  margin-left: 165px;
}


@media print, screen and (max-width: 1060px) {
  section {
    padding:10px 10px;
  }

  .banner-bar {
    margin-left: 100px;
  }
}

@media print, screen and (max-width: 720px) {
  .banner-bar {
    margin-left: 0px;
  }
}

@media print, screen and (max-width: 480px) {

  header{
    position: inherit;
  }

  #banner {
    display: inherit;
    position: relative;
    top: 0px
  }
  header ul {
    display:inherit;
  }

  .banner-bar {
    margin-left: 0px;
  }
}

